.accWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.txtContainer {
  padding: 10px;
  margin: 8px;
  border-bottom: 1px solid rgb(193, 192, 192);
}
.plusIcon {
  font-weight: 700;
  margin-right: 10px;
}
.title {
  all: unset;
  padding-bottom: 10px;
  cursor: pointer;
}
.subtitle {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 400ms ease-in;
}
.open {
  height: 40px;
  opacity: 1;
}
.close {
  height: 0;
  opacity: 0;
}
